<br /><br /><br />
<p>Wow un index tro kool</p>

<h3>Séances</h3>
<hr />
<a class="page-scroll" href="/Seances/Index">Afficher les séances</a>
<br />
<a class="page-scroll" href="/Seances/Create">Creer une séance</a>
<br />
<h3>Photos</h3>
<hr />
<a class="page-scroll" href="/Photos/Index">Afficher les photos</a>
<br />
<h3>Factures</h3>
<hr />
<a class="page-scroll" href="/Factures/Index">Afficher les factures</a>
<a class="page-scroll" href="/Factures/Create">Creer une facture</a>

