<br /><br /><br />

<div class="jumbotron">
    <div class="container">
        <h1>Les Experts en Photographie Immobilière</h1>
        <p>Des tarifs abordables. Des horaires flexibles. Une expertise indéniable. Nos photographes émérites font ressortir le meilleur de vos propriétés afin d'attirer les acheteurs potentiels.</p>
        <p><a class="btn btn-primary btn-lg" href="/Seances/Create" role="button">Prendre Rendez-Vous</a></p>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Séances</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a class="list-group-item" href="/Seances/Index">Afficher les séances</a>
            <a class="list-group-item" href="/Seances/Create">Creer une séance</a>
        </div>
    </div>
</div>

<br />
<h3>Factures</h3>
<hr />
<a class="page-scroll" href="/Factures/Index">Afficher les factures</a>
<br />
<a class="page-scroll" href="/Factures/Create">Creer une facture</a>

