<br /><br /><br />

<div class="col-md-12 hidden-xs">
    <div class="jumbotron">
        <div class="container">
            <h1>Les Experts en Photographie Immobilière</h1>
            <p>Des tarifs abordables. Des horaires flexibles. Une expertise indéniable. Nos photographes émérites font ressortir le meilleur de vos propriétés afin d'attirer les acheteurs potentiels.</p>
            <p><a class="btn btn-primary btn-lg" href="/Seances/Create" role="button">Prendre Rendez-Vous</a></p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Accès Membres</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item" href="/Photographes/Index">Photographes</a>
                <a class="list-group-item" href="/Agents/Index">Agents</a>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Facturation</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a class="list-group-item" href="/Factures/Index">Afficher les factures</a>
                <a class="list-group-item" href="/Factures/Create">Creer une facture</a>
            </div>
        </div>
    </div>
</div>

