<br /><br /><br />

<h3>Séances</h3>
<hr />
<a class="page-scroll" href="/Seances/Index">Afficher les séances</a>
<br />
<a class="page-scroll" href="/Seances/Create">Creer une séance</a>
<br />
<h3>Factures</h3>
<hr />
<a class="page-scroll" href="/Factures/Index">Afficher les factures</a>
<br />
<a class="page-scroll" href="/Factures/Create">Creer une facture</a>

