<div class="container">
    <div class="row">
        <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="error-template">
                    <h2>
                        Erreur 404
                    </h2>
                    <br />
                    <div class="error-details">
                        La page recherché n'a pas été trouvé!
                    </div>
                </div>
            </div>
        </div>
</div>

