@model projet_photo_duval.Models.Photo

@{
    ViewBag.Title = "Ajouter des photos";
}

<h2>Ajouter des photos</h2>

@using (Html.BeginForm("AddImage","Photos",FormMethod.Post,new {enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Veuillez sélectionner vos photos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div id="multiple">
            <input type="file" class="multiple" name="files" multiple />
        </div>
        <br />
        <input type="submit" value="Soumettre les photos" class="btn btn-default" />
        <br />
    </div>
}

<div>
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>
