@model IEnumerable<projet_photo_duval.Models.Photo>

@{
    ViewBag.Title = "Photos de la séance";
}
<h2>Liste des photos de la séance</h2>
<br />
    <div class="form-group">
        <div class="col-md-8">
            @Html.Action("PhotosDetailsAgent", "Photos", new { id = (ViewContext.RouteData.Values["id"]) })
        </div>
    </div>
<div>
    <br />
    @Html.ActionLink("Retour vers la liste", "Index", "Seances", null, null)
</div>


